.wpcf7-form {
    br {
        display: none;
    }

    sup {
        color: theme-color("primary");
    }

    .wpcf7-form-control-wrap {
        @extend .form-group;

        display: block;

        &.acceptance-373 {
            margin-bottom: 0;
        }

        textarea,
        input[type=text],
        input[type=tel],
        input[type=email],
        input[type=number] {
            @extend .form-control;

            border-radius: 0;
            padding: 1rem 1.5rem;
        }

        input[type=email],
        input[type=text] {
            height: auto;
        }
    }

    input[type=submit] {
        @extend .btn;
        @extend .btn-outline-daa-olive;
        @extend .d-block;
        @extend .w-100;

        border-radius: 0;
        padding: 1rem 1.5rem;
    }

    .wpcf7-list-item {
        margin: 0 !important;
    }
}

.wpcf7-response-output.alert {
    @extend .alert;
    @extend .alert-warning;
}

.wpcf7 form .wpcf7-response-output {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;

    @extend .alert;
    @extend .alert-info;
}

.wpcf7 form.sent .wpcf7-response-output {
    @extend .alert-success;
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    @extend .alert-danger;
}

.wpcf7 form.spam .wpcf7-response-output {
    @extend .alert-warning;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
    @extend .alert-warning;
}

.wpcf7-not-valid {
    @extend .is-invalid;
}

.wpcf7 .ajax-loader {
    margin: 10px auto 0;
    display: block;
}
